<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sentiment Analysis Page</title>
</head>
<body>
    
   <div class="container">

    <h1> Sentiment Analysis. Enter some Review in the Text Box </h1>

    <input placeholder="Enter Some Review" id="sent-input"/>
    <button id="sent-btn"> Execute Sentiment Analysis </button>

    <div class="loader" id="loader"></div>

    <p id="api-res"> 
        This is the response of the api
    </p>

    <p id="api-res-2">
        This is response 2 of the api
    </p>

   </div>

   <script src="../static/main.js"></script>
</body>
</html>